.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Минимальная высота экрана */
  background-color: transparent; /* Прозрачный фон */
}

.login-form {
  background-color: #444; /* Тёмный фон для формы */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  color: #fff;
  width: 300px;
  text-align: center;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-form button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  background-color: #00cccc;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #009999;
}

.login-form p {
  margin: 10px 0;
}

.login-form a {
  color: #00cccc;
  text-decoration: none;
}

.login-form a:hover {
  text-decoration: underline;
}
