.app {
  display: flex;
  background-color: #333; /* Тёмный фон */
  color: #fff; /* Белый текст */
  justify-content: center; /* Центрирование основного содержимого */
  min-height: 100vh; /* Минимальная высота экрана */
}

.main-content {
  display: flex;
  flex-direction: column;
  max-width: 1200px; /* Максимальная ширина */
  padding: 20px;
  flex-grow: 1;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #fff; /* Белый текст */
}

.movies-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  background-color: #00cccc;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  margin: 0 10px;
  font-size: 18px;
}
